@use 'variables' as v;
/* Override preset styles */

// Colors
$primary: green;
$secondary: v.$secondary-500;

// Link Colors
$link-color: $secondary;

// Input & Select Colors
$input-bg: v.$neutral-500;
$input-border-color: v.$neutral-500;

// Dropdown menu
$dropdown-link-active-bg: v.$neutral-300;

// Import Preset Overrides to bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// Gradient Effect on Text
.gradient-text {
    background-color: v.$neutral-50;
    background-image: linear-gradient(0deg, #669F28, #B3EE74 );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    }

