/* Custom Variables in addition to presets to use if needed */

// Primary Colors
$primary-100: #B3EE74;
$primary-300: #80CF2B;
$primary-500: #669F28;

// Secondary Colors
$secondary-300: #DE528C;
$secondary-500: #B42E66;

// Neutral Colors
$neutral-50: #FCFCFC;
$neutral-100: #F2F2F2;
$neutral-300: #D6D6D6;
$neutral-500: #88878A;
$neutral-900: #0D0D0D;